.post {
    background-color: #fff;
    padding: 16px;
    box-shadow: 0px 2px 8px rgba(51, 51, 51, 0.2);
    border-radius: 16px;
    transition: box-shadow 0.3s ease;
}

.post:hover {
    box-shadow: 0px 4px 12px rgba(51, 51, 51, 0.3);
}

.post-image {
    max-width: 100%;
    display: block;
    border-radius: 8px;
    transition: transform 0.3s;
}

.zoomed {
    transform: scale(1.5);
}

.post-text,
.post-comments-form-textarea {
    color: #333;
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 24px;
}

.post-comments {
    margin: 10px 0;
}

.post-comment {
    color: #444;
    font-size: 12px;
    line-height: 20px;
    background-color: #ffff9f;
    padding: 8px 16px;
    border-radius: 8px;
    margin-bottom: 8px;
    transition: background-color 0.3s ease;
}

.post-comment:hover {
    background-color: #fffbcc;
}

.post-comment-content {
    font-style: italic;
}

.post-comments-form {
    margin-top: 16px;
    text-align: right;
}

.post-comments-form-textarea {
    display: block;
    resize: none;
    width: 100%;
    margin-bottom: 8px;
    padding: 8px 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
    transition: border-color 0.3s ease;
}

.post-comments-form-textarea:focus {
    border-color: #27ae60;
    outline: none;
}

.post-comments-form-button {
    padding: 8px 16px;
    font-weight: bold;
    border-radius: 8px;
    border: none;
    background-color: #27ae60;
    color: #eee;
    cursor: pointer;
    transition: background-color 0.3s ease;
}